.idea/
xdebug.ini
docker-compose.yaml
redis-data
Dockerfile.old
certs

/json-api
/pubsub
/baum

/web/config/*
/web/node_modules
/web/public/hot
/web/public/storage
/web/storage/*.key
/web/storage/api-docs
/web/vendor
/web/.idea
/web/.env
/web/.env-production
/web/.env.dusk.local
/web/composer.lock
/web/package-lock.json
/web/localhost.crt
/web/localhost.key
config/.env
config/.env_local
config/mime.types
config/nginx.conf
config/old_nginx.con
config/server_blocks.conf
config/sumra-pool.conf
